<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- 自动扫描com.home.spring03包中的类-->
    <context:component-scan base-package="com.home.spring03"></context:component-scan>

    <!-- resource-pattern对指定的基包下面的子包进行选取 -->
    <!--<context:component-scan base-package="com.home.spring03" resource-pattern="dao/*.class" />-->

    <!-- include-filter 指定需要包含的包，exclude-filter指定需要排除的包-->
    <!--<context:component-scan base-package="com.home.spring03" >-->
        <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>-->
        <!--<context:exclude-filter type="aspectj" expression="com.zhangguo.anno.entity.*.*"/>-->
    <!--</context:component-scan>-->


</beans>